.grid {
  align-items: start;
  display: grid;
  gap: 2.5rem 0.125rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid > :nth-child(6n + 2) {
  margin-top: 2.5rem;
}

.grid > :nth-child(6n + 5) {
  margin-top: 1.25rem;
}

.grid > :nth-child(8n + 1) {
  grid-column: span 1;
}

@media (max-width: 76rem) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid > :nth-child(8n + 1) {
    grid-column: span 1;
  }
}

@media (min-width: 64rem) {
  .grid {
    gap: 5.9375rem 6.1875rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
